#hero{
    background: url('./images/title.jpg');
    background-size: cover;
    height: 22em;
    article{
        
        height: 22em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        h1{
            color: $myblue;
            background-color: white;
            margin: 0.1em;
            padding: 0.3em;
            font-size: 2.2em;
            margin-right: 2%;
        }
        button{
            background-color: $myblue;
            color: white;
            border: none;
            border-radius: 5px;
            font-family: 'Slabo 13px', serif;
            text-align: center;
            text-decoration: none;
            font-size: 1.5em;
            margin: 0.1em;
            padding: 0.3em;
            margin-right: 2%;
            margin-top: 3%;
        }
    }
}