.titleLeistungen, .titleNews, .titleReferences{
    font-size: 1.8em;
    color: $myblue;
    margin-top: 8%;
    margin-left: 2%;
    margin-bottom: 4%;
}

#leistungen{
    color: $myblue;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    div{
        text-align: center;
        background-color: whitesmoke;
        border-radius: 5px;
        padding-top: 4%;
        h2{
            text-align: center;
            font-size: 1.5em;
        }
        .button{
            color: white;
            border: none;
            img{
                width: 100%;
                padding: 10%;
                margin-bottom: 10%;
            }
        }
    }
    .col1{
        margin-right: 2%;
    }
    .col2{
        margin-right: 2%;
        margin-left: 2%;
    }
    .col3{
        margin-left: 2%;
    }
}

#news{
    margin-left: 2%;
    margin-right: 2%;
    color: $myblue;
    display: flex;
    h2{
        font-weight: bold;
        padding-bottom: 1em;
        text-align: center;
    }
    p{
        border-radius: 5px;
    }
    div{
      width: 30.667%;
      background-color: whitesmoke;
      padding: 2%;
    }
    .col1{
        margin-right: 2%;
    }
  .col2{
        margin-right: 2%;
        margin-left: 2%;
    }
    .col3{
        margin-left: 2%;
    }
}



#referenzen{
    margin-left: 2%;
    margin-right: 2%;
    color: $myblue;
    display: flex;
    h2{
        font-weight: bold;
        padding-bottom: 1em;
        text-align: center;
    }
    p{
        border-radius: 5px;
    }
    div{
      width: 30.667%;
      background-color: whitesmoke;
      padding: 2%;
        text-align: center;
    }
    .col1{
        margin-right: 2%;
    }
    .col2{
        margin-right: 2%;
        margin-left: 2%;
    }
    .col3{
        margin-left: 2%;
    }
    img{
        border-radius: 100%;
        padding: 8%;
        width: 80%;
    }
}


@media screen and (max-width: 768px){
  #leistungen, #news, #referenzen{
    flex-direction: column;
  }
  .col1{
    margin-left: 2%;
    margin-bottom: 4%;
  }
  .col3{
    margin-right: 2%;
    margin-top: 4%;
  }
  .titleLeistungen, .titleNews, .titleReferences{
    margin-left: 4%;
  }
  #news, #referenzen{
    margin-left: 4%;
    margin-right: 4%;
  }
  #news .col1{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #news .col2{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #news .col3{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #referenzen .col1{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #referenzen .col2{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #referenzen .col3{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
    
}
